  <%- include ('../layout/head') %>
    <%- include ('../layout/header') %>
      <section class="book-section">
    <h2>404</h2>
    <p>Something went wrong with your request</p>
  </section>
    <%- include ('../layout/footer') %>