@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Scope+One&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Scope One', serif;
    /* max-width: 100vw; */
  }
  main {
    padding-bottom: 11.5vh;
    margin: 0 auto;
    width: 80%;
  }
  body {
    width: 100%;
    /* width: 768px; */
    /* margin: 0 auto; */
    text-align: center;
    background-color: #210d2d;
    min-height: 100vh;
    position: relative;
    
  }

