</main>
<footer>
  <div>
    <a href="https://www.linkedin.com/in/joshua-williams-guitar/"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/jswill88"><i class="fab fa-github-alt"></i></a>
    <span><i class="far fa-copyright"></i> 2020</span>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="../../js/app.js"></script>
</body>

</html>