    <%- include ('../layout/head') %>
        <%- include ('../layout/header') %>
        <main>
            <form action="/searches" method="post">
                <fieldset>
                    <legend>Find New Books</legend>
            <section>  
                <input class="form-box" type="text" name="search" placeholder="Please enter a Title or Author" required>
                <input id="title" type="radio" name="titleAuthor" value="title"  checked required>
                <fieldset>
                    <label for="title">Search by Title</label>
                </fieldset>
                <input id="author" type="radio" name="titleAuthor" value="author" required>
                <fieldset>
                    <label for="author">Search by Author</label>
                </fieldset>
                <button type="submit" class="form-box">Submit</button>
            </section>
        </fieldset> 
        </form>
        </main>
        <%- include('../layout/footer') %>